!!!
%html
  %head
    %title BestPlaces: Conectando pequeños productores y distribuidores

    / Boostrap Latest compiled and minified CSS
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel => "stylesheet"}
    
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    / Boostrap Latest compiled and minified JavaScript
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}

    = csrf_meta_tags

  %body
    / Header navbar
    %nav.navbar.navbar-default{role: "navigation"}
      .collapse.navbar-collapse{id: "bs-example-navbar-collapse-1"}
        .nav.navbar-nav.navbar-right
          %li
            %a{:href=>"/"}
              %span.glyphicon.glyphicon-home
                Home
          %li
            - if current_user
              = link_to("Cerrar sesión", '/logout', method: :get)
            - else
              %a{href: "/auth/google_oauth2"}