<section class="principal" ng-controller='DashboardCtrl'>
	<div class="wrap">
		<!--Aluno-->
		<div class="ficha-full ficha-aluno">
			<div class="info-aluno">
				<img src="img/avtar-usuario.png.jpg" class="foto-aluno"
					alt="Leandro Lima">
				<h1>
					<a href="perfil-aluno.html">Leandro Lima</a>
				</h1>
				<h3>25 anos, 90kg</h3>
			</div>

			<div class="info-dir">
				<div class="ultimo">
					<h2>
						Ultimo treino em:
						<h2>
							<span>22 de novembro</span>
				</div>

				<a href="treinos.html" class="editar">Editar Treino</a> <a
					href="treinos.html" class="novo">Novo Treino</a>
				</dir>
			</div>
		</div>
		<!--Fim Aluno-->

		<!--Aluno-->
		<div class="ficha-full ficha-aluno">
			<div class="info-aluno">
				<img src="img/avtar-usuario.png.jpg" class="foto-aluno"
					alt="Leandro Lima">
				<h1>
					<a href="perfil-aluno.html">Leandro Lima</a>
				</h1>
				<h3>25 anos, 90kg</h3>
			</div>

			<div class="info-dir">
				<div class="ultimo">
					<h2>
						Ultimo treino em:
						<h2>
							<span>22 de novembro</span>
				</div>

				<a href="treinos.html" class="editar">Editar Treino</a> <a
					href="treinos.html" class="novo">Novo Treino</a>
				</dir>
			</div>
		</div>
		<!--Fim Aluno-->

		<!--Aluno-->
		<div class="ficha-full ficha-aluno">
			<div class="info-aluno">
				<img src="img/avtar-usuario.png.jpg" class="foto-aluno"
					alt="Leandro Lima">
				<h1>
					<a href="perfil-aluno.html">Leandro Lima</a>
				</h1>
				<h3>25 anos, 90kg</h3>
			</div>

			<div class="info-dir">
				<div class="ultimo">
					<h2>
						Ultimo treino em:
						<h2>
							<span>22 de novembro</span>
				</div>

				<a href="treinos.html" class="editar">Editar Treino</a> <a
					href="treinos.html" class="novo">Novo Treino</a>
				</dir>
			</div>
		</div>
		<!--Fim Aluno-->

		<!--Aluno-->
		<div class="ficha-full ficha-aluno">
			<div class="info-aluno">
				<img src="img/avtar-usuario.png.jpg" class="foto-aluno"
					alt="Leandro Lima">
				<h1>
					<a href="perfil-aluno.html">Leandro Lima</a>
				</h1>
				<h3>25 anos, 90kg</h3>
			</div>

			<div class="info-dir">
				<div class="ultimo">
					<h2>
						Ultimo treino em:
						<h2>
							<span>22 de novembro</span>
				</div>

				<a href="treinos.html" class="editar">Editar Treino</a> <a
					href="treinos.html" class="novo">Novo Treino</a>
				</dir>
			</div>
		</div>
		<!--Fim Aluno-->

		<!--Aluno-->
		<div class="ficha-full ficha-aluno">
			<div class="info-aluno">
				<img src="img/avtar-usuario.png.jpg" class="foto-aluno"
					alt="Leandro Lima">
				<h1>
					<a href="perfil-aluno.html">Leandro Lima</a>
				</h1>
				<h3>25 anos, 90kg</h3>
			</div>

			<div class="info-dir">
				<div class="ultimo">
					<h2>
						Ultimo treino em:
						<h2>
							<span>22 de novembro</span>
				</div>

				<a href="treinos.html" class="editar">Editar Treino</a> <a
					href="treinos.html" class="novo">Novo Treino</a>
				</dir>
			</div>
		</div>
		<!--Fim Aluno-->
	</div>
</section>