<section class="home">
  <div class="wrap">
    <img src="img/mockup.png" class="mockup" alt="PowerUp">

    <div class="texto-home">
      <h1>Descubra uma nova forma de gerenciar alunos nas academias de musculação.</h1>

      <p>Fidelizamos seus usuários, geramos estatísticas importantes para seu empreendimento e motivamos a prática de exercícios físicos  </p>

		<div class="signInButton">
			<img ng-click="signIn()" ng-show="showSignInButton()" src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Medium_base_44dp.png"  width="207px" height="62px"/>
		</div>

    </div>
  </div>
</section>