<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpstr.listview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/app_icon">
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name="com.example.helpstr.listview.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity
	        android:name="com.example.helpstr.listview.Alerta"
	        android:label="@string/alerta_name"
	        android:parentActivityName="om.example.helpstr.listview.MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.example.helpstr.listview.MainActivity" />
	    </activity>
	    <activity
	        android:name="com.example.helpstr.listview.Donacion"
	        android:label="@string/donacion_name"
	        android:parentActivityName="com.example.helpstr.listview.MainActivity" >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.example.helpstr.listview.MainActivity" />
	    </activity>
    </application>
    

</manifest>
