/*! css Hot it | Estilo Principal | 071113 */

html{
    width: 100%;
    height: 100%;
}


.navbar{
    background: #525355;
    margin-bottom: 0px;
    height: 10;
}
.navbar > .container .navbar-brand{
    color: #D83030;
    font-family: 'helvetica',verdana,helvetica,arial,sans-serif;
    position:absolute;
}

#box-info{
    /* informacion*/
    display: block;
    position:absolute;
    left:0px;
    top:51px;
    z-index: 20;
    background: #00000;
    margin: 0;
    padding: 8px;
}

#bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.hot{

    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 90em;
    top:80px;

    
}
.hot1{
    
    
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 39em;
    top:120px;
    
}

.hot-2{
    
    
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    top:60px;
    
}
.hot5{
    
    
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    top:60px;
    
}
.cnter{
    background-image:url('../img/back.png'); 
    
}


#box-map{
    width: 100%;
}

#fixed {
   margin:0 auto;
   width:78em;   /* you can use px, em or % */
   text-align:left;
}



.1h{
    line-height:1;
    color:inherit;
    font-family:'helvetica';
    font-size: 12px;

.kd{
 margin-left: 30%;
 margin-right: 30%;
        

        
}