{% extends "website.html" %}

{% block website %}
<div class="banner-home">
	<div class="page-content">
		<h4>Divirta-se construindo a sua Lista de Desejos</h4>
		<p class="sub-title">E receba as melhores ofertas para torná-los reais!</p>
		<div class="column-3 box-banner">
			<div class="pic roupas"></div>
			<p>Roupas</p>
		</div>
		<div class="column-3 box-banner">
			<div class="pic eletro"></div>
			<p>Eletrônicos</p>
		</div>
		<div class="column-3 box-banner">
			<div class="pic jogos"></div>
			<p>Jogos</p>
		</div>
		<div class="column-3 box-banner">
			<div class="pic outros"></div>
			<p>Outros</p>
		</div>

	</div>
</div>

<div class="entenda-querome">
	<div class="page-content">
	<div class="column-4">
		<h4><i class="icon icon-certificate"></i> Crie</h4>
		<p>Crie lista de produtos que você deseja comprar ou ganhar de presente</p>
	</div>
	<div class="column-4">
		<h4><i class="icon icon-edit"></i> Cadastre-se</h4>
		<p>Cadastre produtos que você encontra nos seus passeios pela internet</p>
	</div>
	<div class="column-4">
		<h4><i class="icon icon-credit-card"></i> Compre</h4>
		<p>As empresas com as melhores propostas para que você realize seu desejo</p>
	</div>
	
</div>

{% endblock %}