<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title></title>
			<link rel="stylesheet" href="">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script>
				window.profile = {}
				function signinCallback(authResult) {
				  if (authResult['access_token']) {
				  	gapi.auth.setToken(authResult)

				  	gapi.client.load('oauth2', 'v2', function() {
			          var request = gapi.client.oauth2.userinfo.get();
			          request.execute(function(obj){
			          	var email = obj["email"]
			          	$.ajax({
						  type: "POST",
						  url: "/api/user/login",
						  data: {
						  	email: email
						  },
						  dataType: 'json'
						})
						.done(function(data){
							if (data.action == "exist"){
								console.log("El usuario ya existía")
								console.log(data)
								console.log("Aquí se deberia proceder a consultar la información de éste usuario")
							}
							if (data.action == "new"){
								console.log("Bienvenido nuevo usuario")
								console.log(data)
							}

							console.log("Consulto la info de Google Plus del Usuario")
							gapi.client.load('plus','v1', function(){
							  	var request = gapi.client.plus.people.get( {'userId' : 'me'} );
							  	request.execute( function( profile ) {
							  		console.log("Pille la info del usuario")
							  		console.log(profile)
							    });
							});
						})
						.fail(function(error){
							console.log("Error get user.info")
						  	console.log(error)
						})
			          });
			        });

				    document.getElementById('signinButton').setAttribute('style', 'display: none');


				  } else if (authResult['error']) {
				    // Se ha producido un error.
				    // Posibles códigos de error:
				    //   "access_denied": el usuario ha denegado el acceso a la aplicación.
				    //   "immediate_failed": no se ha podido dar acceso al usuario de forma automática.
				    console.log('There was an error: ' + authResult['error']);
				  }
				}

				function renderProfile(){
					var request = gapi.client.plus.people.get( {'userId' : 'me'} );

				  	request.execute( function(profile) {
			          console.log( "profile" )
			          console.log( profile.id )
			        });
				}
			</script>
	</head>
	<body>
		Buenos días!


		<span id="signinButton">
		  <span
		    class="g-signin"
		    data-callback="signinCallback"
		    data-clientid="632251990694.apps.googleusercontent.com"
		    data-cookiepolicy="single_host_origin"
		    data-requestvisibleactions="http://schemas.google.com/AddActivity"
		    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
		  </span>
		</span>


    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>
	</body>
</html>