<h1>Reports</h1>
<form action="https://expense-me.appspot.com/_ah/api/despesa/v1/despesa" method="post">
  <input name="location" value="Restaurante do bigode" type="text" />
  <br/>
  <input name="valor" value="23" type="text" />
  <br/>
  <input name="descricao" value="Almoço com o cliente" type="text" />
  <br/>
  <input name="dateTime" value="2013-11-22" type="date" />
  <br/>
  <input name="comprovante" value="Almoço com o cliente" type="file" />
  <br/>
  <input type="submit" value="enviar"/>
</form>