<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinesbus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.cinesbus.MainActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cinesbus.Prueba"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name="com.cinesbus.IngresoPerfil"
            android:label="@string/title_activity_ingreso_perfil" >
        </activity>
        <activity
            android:name="com.cinesbus.Perfil"
            android:label="@string/title_activity_perfil" >
        </activity>
        <activity
            android:name="com.cinesbus.PerfilProducto"
            android:label="@string/title_activity_perfil_producto" >
        </activity>
    </application>

</manifest>