//---------------------------------------*
// Colors
//---------------------------------------*
  $red:     #F15A24;
  $orange:  #F7931E;
  $yellow:  #FBB03B;
  $white_op:rgba(242, 242, 242, 0.95);



@mixin font_p(){
  font-family: 'Roboto', sans-serif;
}



//---------------------------------------*
// Sass Partials: Import
//---------------------------------------*
 @import 'forms';
