<h1>Bienvenido a Circulo Pyme</h1>

<p>Selecciona Acciones</p>

<div id="main-menu">
  <ol>
    <li><%= link_to("Cuenta", account_index_path) %>
    <li><%= link_to("¿Cómo voy?", account_input_path) %>
    <li><%= link_to("Buscar Campañas ", campaign_index_path) %>
    <li><%= link_to("Reportes", report_index_path) %>
  </ol>
</div>
