<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bestplacemobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo2"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bestplaces" >
        <activity
            android:name="com.bestplacemobile.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bestplacemobile.activities.InicioActivity"
            android:label="@string/title_activity_inicio" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bestplacemobile.activities.BusquedaActivity"
            android:label="@string/title_activity_busqueda" >
        </activity>
        <activity
            android:name="com.bestplacemobile.activities.DistribuidorDetalleActivity"
            android:label="@string/title_activity_distribuidor_detalle" >
        </activity>
    </application>

</manifest>