.footer {
  background: #fdba33;
  box-shadow: inset 1px 0 5px rgba(0, 0, 0, 0.15);
  padding: 0;

  .page-content {
    padding: 0;

    p {
  		font-size: 1.05em;
  		color: #fff;
  		font-weight: 300;

 		}
 		img {
	  	display: block;
	  	padding:10px 0 0px 0;
  	}

  	.icon {
  		color:#ff0000;
  	}

  }
  
} 
