<%= form_for(@isncription) do |f| %>
  <% if @isncription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isncription.errors.count, "error") %> prohibited this isncription from being saved:</h2>

      <ul>
      <% @isncription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
