
.projeto h1 {
  font: bold 24px Helvetica;
}
.projeto .nova-quest {
  border-radius: 0px;
  background-color: #c4dc6b;
  color: #000;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 0px #4771b4
}