
.icon-registro:before { content: '\e804'; } /* '' */
.icon-fornecedor:before { content: '\e806'; } /* '' */
.icon-produtos:before { content: '\e805'; } /* '' */
.icon-visual:before { content: '\e800'; } /* '' */
.icon-servicos:before { content: '\e808'; } /* '' */
.icon-auditivo:before { content: '\e801'; } /* '' */
.icon-idoso:before { content: '\e803'; } /* '' */
.icon-motora:before { content: '\e802'; } /* '' */